<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1">
                    <match url="^login(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/login/index/(.*)" />
                </rule>
                <rule name="已导入的规则 2">
                    <match url="^ping(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/ping/index/(.*)" />
                </rule>
                <rule name="已导入的规则 3">
                    <match url="^auth(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/auth/index/(.*)" />
                </rule>
                <rule name="已导入的规则 4">
                    <match url="^portal(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/user/index/(.*)" />
                </rule>
                <rule name="已导入的规则 5">
                    <match url="^library/test/success.html" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/login/apple" />
                </rule>
				<rule name="已导入的规则 6">
                    <match url="^wifidog/login(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/login/gongjiaoindex/(.*)" />
                </rule>
				<rule name="已导入的规则 7">
                    <match url="^wifidog/library/test/success.html" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/login/apple" />
                </rule>
				<rule name="已导入的规则 8">
                    <match url="^wifidog/ping(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/Gping/index/(.*)" />
                </rule>
                <rule name="已导入的规则 9">
                    <match url="^wifidog/auth(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/GjAuth/index/(.*)" />
                </rule>
                <rule name="已导入的规则 10">
                    <match url="^wifidog/portal(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/user/index/(.*)" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
